/* ----- BASE RULE ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Urbanist", sans-serif;
}


p,
li,
a,
label {
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--para-color);
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

/* ----- THEME ----- */
:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    /* --bg-color: #ffffff; */
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --hero-heading-color: #003b99;
    --white-color: #ffffff;
    --para-color: #504e4d;
    --bnt-hover-bg-color: #003b99;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --footer-bg-color: #040d12;
}

/* ----- LAYOUT ----- */
.container {
    max-width: 142rem;
    margin: 0 auto;
    padding: 5.6rem 2.4rem;
}

.grid {
    display: grid;
}

.grid-two--cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.btn{
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 0.6rem;
}   

/* ----- MODULE ----- */
.section-comman-heading {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.section-comman-subheading {
    color: var(--heading-color);
}

.section-comman--title {
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
}

.fa-solid {
    padding: 2.4rem;
    background-color: var(--supporting-color);
    font-size: 2.4rem;
    border-radius: 50%;
    color: var(--hero-heading-color);
}

/* ----- STATE ----- */


/* navbar section starts*/
.section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 29px 0px;
}

.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem, 2, 4rem;
}

.section-navbar .navbar ul {
    display: flex;
    gap: 3.2rem;

    & li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        display: inline-block;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -0.3rem;
            left: 0;
            width: 0%;
            border-bottom: 0.2rem solid var(--main-color);
            transition: all 0.3s linear;
        }
    }

    & li a:hover::after {
        width: 100%;
    }
}

/* navbar section ends*/

/* hero section */
main {
    position: relative;
    background-image: linear-gradient(to top right,
            #3d86fa,
            #4484fb,
            #679eff,
            #b3d2ff,
            #ebf3fe);
}

.custom-shape-divider-bottom-1761461946 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1761461946 svg {
    position: relative;
    display: block;
    width: calc(146% + 1.3px);
    height: 165px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1761461946 .shape-fill {
    fill: #FFFFFF;
}



.section-hero .grid {
    align-items: center;
    gap: 6.4rem;

    & .hero-subheading {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1.7rem;
        color: var(--hero-heading-color);
        font-weight: 700;
    }

    & .hero-heading {
        font-size: 5.8rem;
        color: var(--hero-heading-color);
        line-height: 1.5;
        font-weight: 900;
        font-family: josh;
    }

    & .hero-para {
        color: var(--white-color);
        margin: 2rem 0 4.2rem 0;
    }

    .section-hero--image img {
        width: 100%;
        height: auto;
        transform: scalex(-1);
    }
}


/* about section */
.section-about grid {
    gap: 6.4rem;
}

.section-about .about-div {
    text-align: center;
}

.section-about img {
    padding: 2.4rem;
    background-color: var(--supporting-color);
    width: 15rem;
    height: auto;
    border-radius: 50%;
    transition: all 0.3s linear;
}

.icon:hover>img {
    transform: rotate(360deg);
    background: linear-gradient(to right, #0575e6, #021b79);
}

/* about section end*/

/* course section */


.section-course {
    gap: 3.2rem;
}

.section-course .course-div {
    padding: 3.2rem;
}

.section-course .course-div:hover {
    box-shadow: var(--btn-box-shadow);
}

/*end course section */

/* why choose section */
.section-why--choose .grid {
    gap: 9.6rem;
}

.why-choose--div {
    margin-top: 3.2rem;
}

.section-why--choose .text-align--right .why-choose--div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    text-align: right;
}

.common-text--highlights {
    width: 6rem;
    aspect-ratio: 1;
    background-color: var(--supporting-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.choose-center--div img {
    width: 90%;
    height: auto;
}

.choose-center--div,
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.choose-center--div figure::before,
.choose-center--div figure::before {

    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45rem;
    height: 45rem;
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: -1;
}

.choose-center--div figure::before {
    animation: circle 5s linear infinite;
}

@keyframes circle {
    0% {
        background-color: #b3d0ff;
    }

    25% {
        background-color: #80b1ff;
    }

    50% {
        background-color: #4d91ff;
    }

    75% {
        background-color: #99c0ff;
    }

    100% {
        background-color: #3381ff;
    }
}

.choose-center--div figure::after {
    width: 50rem;
    height: 50rem;
    background-color: transparent;
    z-index: -2;
    border: 1px solid var(--supporting-color);
}

/* why choose section */
.section-content--homepage {
    width: 60%;
    min-height: 30rem;
    margin: 0 auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 0.2rem;
    padding: 0 3.2rem;
    position: relative;
    bottom: -15rem;
    z-index: 1;
    background-color: var(--white-color);

    &.grid {
        align-items: center;
        gap: 6.4rem;

    }
    & a{
        color: var(--white-color);
        text-transform: capitalize;
    }


}

.section-content--homepage .contact-image img {
    width: 90%;
    height: auto;
}



.contact-title{
    font-size: 3.8rem;
    line-height: 1.2;
}


/* footer section */
footer{
    background-color: var(--footer-bg-color);
    padding: 15rem;

    & *{
        color: var(--white-color);
    }

    & .grid{
        text-align: right;
    }

    & .footer-subheading{
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    & .footer-1--div p{
        margin: 1rem 0 3.2rem 0;
    }

    & .footer-1--div{
        text-align: left;

        & social-footer--icons{
            display: flex;
            gap: 2.4rem ;
        }
    }

}


/* ======= Responsive Design ======== */
@media (width<=1400){
    html{
        font-size: 56.25%;
    }

    .section-hero img{
        width: 90%;
    }
}

@media (width<=1200px){
    html{
        font-size: 54%;
    }
}

@media (width<=1100px){

}



